<header class="main-header">
  <div class="container">
    <nav class="navigation">
      <a href="./index.html" class="nav-logo"><img src="/img/header/logo.png" alt="logo" width="40"
          class="nav-logo-img">Product</a>
      <ul class="nav-list">
        <li class="nav-list-item"><a href="./index.html" class="nav-list-link current">Product</a>
        </li>
        <li class="nav-list-item"><a href="./customers.html" class="nav-list-link">Customers</a></li>
        <li class="nav-list-item"><a href="./pricing.html" class="nav-list-link">Pricing</a></li>
        <li class="nav-list-item"><a href="./resourses.html" class="nav-list-link">Reasources</a></li>
      </ul>
    </nav>
    <ul class="header-list-btn">
      <li class="header-item-btn"><button type="button" class="header-btn sign-in">Sign In</button></li>
      <li class="header-item-btn"><button type="button" class="header-btn sign-up">Sign Up</button> </li>
    </ul>
  </div>
</header>