body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}