.main-header {}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 237px;
}

.nav-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #173a56;
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-logo-img {}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list-item {}

.nav-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  display: block;
  padding: 26px 0;
}

.current {
  font-weight: 600;
}

.header-list-btn {
  display: flex;
  gap: 21px;
}

.header-item-btn {}

.header-btn {
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

.sign-in {
  border: 1px solid #bcd0e5;
  width: 105px;
  height: 42px;
  color: #173a56;
  background-color: #fff;
}

.sign-up {
  width: 113px;
  height: 42px;
  background: #02897a;
  color: #fff;
}